@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
html {
    font-size: auto;
}

.company-mission {
    background-color: #dff6fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
    .text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        width: 320px;
        h1 {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
            text-align: left;
        }
        p {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            text-align: left;
        }
    }
    .image {
        img {
            width: 320px;
            height: 298px;
            border-radius: 16px;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 1vw;
    }
    .company-mission {
        flex-direction: row;
        padding: 5vw 11.25vw;
        gap: 2.5vw;
        .text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 1.25vw;
            width: 34.375vw;
            h1 {
                font-family: Roboto;
                font-size: 2.75rem;
                font-weight: bold;
                line-height: 3.2vw;
                text-align: left;
            }
            p {
                font-family: Roboto;
                font-size: 1.75rem;
                font-weight: 400;
                line-height: 2vw;
                text-align: left;
            }
        }
        .image {
            img {
                width: 40.625vw;
                height: 28vw;
                border-radius: 2vw;
                object-fit: cover;
            }
        }
    }
}