@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.statistic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner/bg__banner_mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.containerInfo__infoUSer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 258px;
    height: 83px;
    margin-bottom: 40px;
}

.text__numbers {
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
}

.text__info {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__age {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text__numberWithAge {
    display: flex;
    align-items: baseline;
}

#text__info {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}
