@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    font-size: 1vw;
}

body {
    min-width: 356px;
    width: 100%;
    margin: 0;
    font-family: Roboto;
    color: #333333;
}

.direction-block {
    background-color: white;
    display: flex;
    justify-content: center;
    // height: 1275px;
    gap: 30px;
    .content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px 20px;
        max-width: 388px;
        h3 {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: 0em;
            margin: 0;
        }
        .cards {
            max-width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            min-height: 1089px;
            .card {
                max-width: 320px;
                background-color: #dff6fe;
                border-radius: 16px;
                padding: 20px 20px 16px 20px;
                gap: 4px;
                span {
                    margin: 0;
                    padding: 4px 20px;
                    // background-color: #66acff;
                    background-color: #66acff;
                    border-radius: 0px 8px 8px 0px;
                    gap: 10px;
                    margin-left: -20px;
                    // width: 200px;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;
                    display: inline-block;
                }
                .card__content {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                        margin-top: 12px;
                    }
                    img {
                        // max-width: 120px;
                        align-self: flex-end;
                    }
                    &__image-desktop {
                        display: none;
                    }
                }
                transition: transform 0.2s ease-in;
                &:hover {
                    background-color: #c6e8ff;
                    transition: transform 0.2s ease-in;
                    transform: scale(1.02);
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    body {
        min-width: 356px;
        max-width: 100%;
        width: 100%;
        margin: 0;
        font-family: Roboto;
        color: #333333;
    }
    .direction-block {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 800px;
        // gap: 42px;
        
        .content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 20vh;
            gap: 2.5vw;
            padding: 40px 0px;
            width: 90vw;
            max-width: 100%;
            h3 {
                font-family: Roboto;
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0em;
                margin: 0;
            }
            .cards {
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                max-width: 80vw;
                height: 33vw;
                min-height: auto;
                .card {
                    // display: flex;
                    flex-direction: column;
                    max-width: 25vw;
                    background-color: #dff6fe;
                    border-radius: 16px;
                    padding: 2vw 2vw 1.4vw 2vw;
                    gap: 16px;
                    max-height: 30vw;
                    height: 30vw;
                    span {
                        margin: 0;
                        padding: 4px 2vw;
                        // background-color: #66acff;
                        background-color: #66acff;
                        border-radius: 0px 8px 8px 0px;
                        gap: 10px;
                        margin-left: -2vw;
                        // width: 200px;
                        font-family: Roboto;
                        font-size: 1.7rem;
                        font-weight: 400;
                        line-height: 2vw;
                        letter-spacing: 0em;
                        text-align: left;
                        text-align: left;
                        color: white;
                        display: inline-block;
                    }
                    .card__content {
                        display: flex;
                        flex-direction: column;
                        p {
                            font-family: Roboto;
                            font-size: 1.3rem;
                            font-weight: 400;
                            line-height: 1.4vw;
                            letter-spacing: 0em;
                            text-align: left;
                            margin: 0;
                            margin-top: 1vw;
                        }
                        img {
                            width: 11vw;
                            align-self: flex-end;
                        }
                        &__image-mobile {
                            display: none;
                        }
                        &__image-desktop {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    min-width: 356px;
    width: 100%;
    margin: 0;
    font-family: Roboto
}

.header {
    width: 100%;
    background-color: #000037;
    display: flex;
    flex-direction: column;
    overflow:hidden;

    .header__bar {
        position: fixed;
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000037;
        z-index: 3;
        transition: all 0.3s ease-in;

        .header__bar-img-mobile-white {
            width: 140px;
            margin-left: 20px;
        }

        .header__bar-img-mobile-black {
            width: 140px;
            margin-left: 20px;
            display: none;
        }

        .header__bar-img-desc-white {
            display: none;
        }

        .header__bar-img-desc-black {
            display: none;
        }

        .header__bar-menu {

            .header__bar-menu-link {
                display: none;
            }

            .header__bar-menu-btn {
            margin-right: 20px;
            font-size: 14px;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            border-radius: 10px;
            padding: 9px 21px;
            }
        }
        
    }

    .scroll {
        background-color: white !important;

        .header__bar-menu-btn {
            color: black !important;
            border: 1px solid black !important;
        }

        .header__bar-img-mobile-white {
            display: none;
        }

        .header__bar-img-mobile-black {
            display: flex;
        }
    }

    .header__text {
        color: white;
        font-size: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 90px;

        .header__text-main {
            font-size: 40px;
            font-weight: 400;
            margin: 10px 0px;
        }

        .header__text-disc {
            font-size: 28px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
        }

        .header__img {
        position: relative;
        left: 5vh;
        width: 90%;
        }
    }


}

@media screen and (min-width:769px) {

body {
    min-width: 1513px;
    width: 100%;
    margin: 0;
    font-family: Roboto
}

    .header {
    width: 100%;
    background-color: #000037;
    display: flex;
    flex-direction: column;

    .header__bar {
        position: fixed;
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000037;
        z-index: 3;
        transition: all 0.3s ease-in;

        .header__bar-img-mobile-white {
            display: none;
        }

        .header__bar-img-mobile-black {
            display: none;
        }

        .header__bar-img-desc-white {
            display: flex;
            margin-left: 20vh;
        }

        .header__bar-img-mobile-black {
            display: none;
        }

        .header__bar-menu {

            display: flex;
            flex-direction: row;
            align-items: center;

            .header__bar-menu-link {
                display: inline-block;
                text-decoration: none;
                color: white;
                margin-right: 64px;
                font-size: 2.0vh;
                font-weight: 200;
            }

            .header__bar-menu-btn {
            margin-right: 20vh;
            font-size: 2.0vh;
            font-weight: 200;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            border-radius: 10px;
            padding: 8px 18px;
            }
        }
        
    }

    
    .scroll {
        background-color: white !important;

        .header__bar-menu-btn {
            color: black !important;
            border: 1px solid black !important;
        }

        .header__bar-menu-link {
            color: black !important;
        }

        .header__bar-img-desc-white {
            display: none !important;
        }

        .header__bar-img-desc-black {
            display: flex !important;
            margin-left: 20vh;
        }
    }

    .header__text {
        color: white;
        font-size: 20px;
        margin-left: 20vh;
        z-index: 1;
        margin-top: 10vh;
        display: flex;
        flex-direction: row;

        .header__text-main {
            font-size: 9.5vh;
            font-weight: 400;
            margin: 10px 0px;
        }

        .header__text-disc {
            font-size: 5.3vh;
            font-weight: 300;
            margin: 5px 0px;
        }

        .header__img {
            position: relative;
            left: -4vh;
            width: 50%;
            z-index: -1;
        } 
    }

}


}