@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 3.75vw 11.25vw;
    background-color: #000037;
    align-items: center;
    gap: 3.75vw;
}

.footer__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 77.5vw;
}

.footer__phoneNumber {
    width: 15.4375vw;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
     :last-child {
        margin: 0;
        display: flex;
        color: #FFF;
        text-align: right;
        font-family: Roboto;
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer__adress_mob {
    display: none;
}

.footer__adress {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Roboto;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 21.8125vw;
    gap: 1vw;
     :last-child {
        margin: 0;
        color: #FFF;
        font-family: Roboto;
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer__students {
    color: #FFF;
    font-family: Roboto;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__image {
    img {
        width: 13.75vw;
    }
}

.footer__icons {
    width: 8.75vw;
    display: flex;
    align-items: flex-start;
    gap: 0.75vw;
    img {
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 16.6666vw 5.5555vw;
        background-color: #000037;
        align-items: flex-start;
        gap: 11.1111vw;
    }
    .footer__description {
        display: flex;
        flex-direction: column;
        gap: 11.1111vw;
        width: 88.8888vw;
    }
    .footer__phoneNumber {
        width: 88.8888vw;
        color: #FFF;
        font-family: Roboto;
        font-size: 7.7777vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        gap: 4.4444vw;
         :last-child {
            margin: 0;
            width: 88.8888vw;
            color: #FFF;
            text-align: right;
            font-family: Roboto;
            font-size: 4.4444vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .footer__adress {
        display: none;
    }
    .footer__adress_mob {
        width: 88.8888vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto;
        font-size: 4.4444vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        gap: 4.4444vw;
         :last-child {
            margin: 0;
            color: #FFF;
            font-family: Roboto;
            font-size: 4.4444vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .footer__students {
        width: 88.8888vw;
        color: #FFF;
        font-family: Roboto;
        font-size: 4.4444vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .footer__image {
        width: 100%;
        img {
            width: 61.112vw;
        }
    }
    .footer__icons {
        display: flex;
        align-items: flex-start;
        gap: 3.3333vw;
        img {
            width: 6.6666vw;
            height: 6.6666vw;
        }
    }
}