.dropdown {
    position: relative;
}

.dropdown__button {
    position: relative;
    display: block;
    width: 28.5vw;
    text-align: left;

    background: white;
    border: none;
    border-radius: 6px;
    height: 40px;

    padding-right: 100px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
}

.dropdown__button::after {
    content: url(../../img/register-form/select.png);
    position: absolute;
    top: 57%;
    right: 15px;
    transform: translateY(-50%);

    pointer-events: none;
}

.dropdown__list {
    display: none;

    position: absolute;
    left: 35.78vw;
    top: auto;

    margin: 0px;
    padding: 0px;
    list-style-type: none;

    background: white;
    box-shadow: 0px 4px 8px grey;
    overflow: hidden;

    border-radius: 6px;
    width: 28.5vw;

    z-index: 1;
}

.dropdown__list--visible {
    display: block;
}

.dropdown__list-item {
    margin: 0px;
    padding: 0px;

    padding: 1vw;
    cursor: pointer;
}

.dropdown__list-item:hover {
    background: rgb(231, 231, 231);
}

.dropdown__input-heddin {
    display: none;
}
